name: Update

on:
    push:
        branches:
            - main

jobs:
    update:
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup bun
              uses: oven-sh/setup-bun@v1
              with:
                  bun-version: latest

            - name: Request update
              run: bun .github/scripts/update.ts --internal-key ${{ secrets.INTERNAL_API_KEY }}